.timerBtn{
    width: 80px;
    height: 30px;
    border: 2px solid;
    border-radius: 12px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    cursor: pointer;
    font-family: consolas, monospace;
}
.timerBtn:hover {
    background-color: hsl(0, 0%, 30%);
}
#timeDisplay {
    font-size: 75px;
    color: hsl(120, 100%, 34%);
    font-family: consolas, monospace;
}
#timeContainer {
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    background-color: #222222;
}